extends layout
block content
  h1= title
  - let Wardrobeid = toShow._id
  - let  Wardrobe_type  = toShow.Wardrobe_type 
  - let Wardrobe_Color = toShow.Wardrobe_Color 
  - let Wardrobe_Size  = toShow.Wardrobe_Size 
  - let actionid = "/resource/Wardrobe/" +watchid
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{Wardrobeid} 
  form(id='WardrobeForm', action=actionid, method="PUT")
   div.form-group
    label.WardrobeAttr(for='Wardrobe_type')  Wardrobe type 
    input#Wardrobe_type(type='text', name='Wardrobe_type')
   div.form-group
    label.WardrobeAttr(for='Wardrobe_Size')  Wardrobe Size 
    input#Wardrobe_Size(type='number', name='Wardrobe_Size')
   div.form-group
    label.WardrobeAttr(for='Wardrobe_Color')  Wardrobe Color
    input#Wardrobe_Color(type='text', name='Wardrobe_Color')
   input(type="submit")
  script.
    document.forms['WardrobeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
       method: 'PUT',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
       return resp.text (); // or resp.text() or whatever the server sends
      }).then((body) => {
       alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
       alert("Save failed " + error )
      });
     });